<h1>Login</h1>

<%= form_for @user, url: {controller: 'logins', action: 'create'} do |f| %>
<% if @user.errors.present? %>
  <ul>
  <% @user.errors.full_messages.each do |error|%>

    <li><%= error %></li>

  <% end %>
  </ul>
<%  end %>

<%= f.label :email %>
<%= f.text_field :email %>
<br>
<br>
<br>
<%= f.label :password_digest %>
<%= f.password_field :password_digest %>

<%= f.submit "Login"%>

<% end %>
