
<%= form_for @post, multipart: true do |f| %>
<% if @post.errors.present? %>
  <ul>
  <% @post.errors.full_messages.each do |error|%>

    <li><%= error %></li>

  <% end %>
  </ul>
<% end %>
<div class="form-group">
<%= f.label :blog_id, "Category", class: "c-white" %> <br>
<%= f.select :blog_id, Blog.all.map{|blog| [blog.category, blog.id]}, {prompt: "--Select Category--"}, class: "form-control"%>
</div>
<div class="form-group">
<%= f.label :title, class: "c-white" %>
<%= f.text_field :title, class: "form-control"  %>
</div>
<div class="form-group">
<%= f.label :content, class: "c-white" %>
<%= f.text_area :content, class: "form-control" %>
</div>
<div class="form-group">
<%= f.label :image, class: "c-white" %>
<%= f.file_field :image, class: "form-control"%>
</div>
<%= f.submit "Create", class: "btn btn-primary"%>

<% end %>
